@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --level-one:translateZ(3rem);
    --level-two:translateZ(6em);
    --level-three:translateZ(9em);
    --fw-normal:400;
    --fw-bold:700;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    color: black;
}
body{
    /* background-image: linear-gradient(#FF90BC,#FFC0D9,#F9F9E0,#8ACDD7); */
    background: #ddd6f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
li{
    font-family: "Montserrat",sans serif;
    font-weight:500;
    font-size: 20px;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
   
}
.logo {
    width: 100px; /* Adjust the width as desired */
    height: auto; /* Maintain the aspect ratio */
    transition: transform 0.3s ease; /* Add transition effect */
    margin-right:auto;
    cursor:pointer;
}

.logo:hover {
    transform: scale(1.1); /* Apply scale transform on hover */
}
.nav_links li{
display: inline-block;
padding:0px 20px;
}
.top-buttons{
    
    transition: all 0.3s ease 0s;
    margin-right: 15px;
}


.top-buttons:hover{
    transition: all 0.3s linear 0s;
   border-radius: 10%;
   font-size: 26px;
    background-color: palegoldenrod;

}
.hero-section {
    padding: 50px;
}

.hero-content {
    display: flex;
    align-items: center;
}

.left-content {
    flex: 1;
    margin-bottom:300px;
}

.right-content {
    flex: 1;
    text-align: right;
    margin-left: 380px;
}

/* Style the heading and paragraph */
h1 {
    font-size: 65px;
    margin-bottom: 20px;
    font-family: "Irish Grover";
    color:#FF5722;
}

p {
    font-size: 55px;
    color: black;
    margin-bottom: 25px;

}
.custom-shape-divider-bottom-1711814767 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711814767 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 100%;
}

.custom-shape-divider-bottom-1711814767 .shape-fill {
    fill: #EC7272;
}
.search-area{
    display: flex;
}
#box{
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    height:40px;
    width:90%;
    border-color: black;
    color: black;
    padding: 4px;
    font-size: 0.8rem;
}
button{
    color:white;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    height:40px;
    width:10%;
    background-color: #FF5722;
    color: black;
}

.fa{
    font-size: 1rem;
    color: black;
}
.card{
    width:400px;
    background: pink;
    
}
.card:hover .content{
    transform: rotateY(.5turn);
}
.content{
    text-align:center;
    position:relative;
    padding:15em 5em;
    transition:transform 3s;
    background:pink;
    transform-style: preserve-3d;
}
.front ,.back{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display:grid;
    align-content:center;
}
.title{
    transform:var(--level-three);
font-size:3.5rem;
order:2;
text-transform: uppercase;
background: -webkit-linear-gradient(223deg, #C5EBAA 56%, #EED3D9 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body{
    transform:var(--level-two);
    font-weight: var(--fw-normal);
    font-size:1.5rem;
    line-height:1.6;
}
.front{
    background-image: url(https://e0.pxfuel.com/wallpapers/281/550/desktop-wallpaper-advertising-background-stirfried-synthetic-creative-catering-stirfrystir-fried-creative-synthe-food-poster-food-poster-design-food-background-thumbnail.jpg);
    background-size: cover;
    background-blend-mode:overlay;
    color:white;
}
.front::before{
    content:'';
    position:absolute;
    --spacer:1em;
    top:var(--spacer);
    bottom:var(--spacer);
    left:var(--spacer);
    right:var(--spacer);
    border:3px solid currentColor;
    transform: var(--level-one);
}
.subtitle{
    transform:var(--level-two);
    text-transform:uppercase;
    letter-spacing: 4px;
    font-size:.75rem;
    font-weight:var(--fw-bold);
    opacity:.7;
    color:azure;
}
.back{
    transform:rotateY(.5turn);
    background:lightblue;

}
.body{
font-family:'ban';
color:#720455;
}
span{
    color: #F30067;
}